.content-wrapper {
    padding-top: 80px; /* Ajusta según la altura del navbar */
}

.columna-de-boton {
    width: 60px;
}

.celda-de-icono {
    text-align: center;
}

.icono-editar {
    color: #3103a4;
}

.icono-borrar {
    color: #a40303;
}

.sin-dependencia {
    color: red;
    font-weight: bold;
}